.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  align-items: center;
  background-color: var(--background);
  padding: 2rem;
  margin-bottom: 7rem;
}

.input,
.output {
  border-radius: 40px;
  height: 270px;
  width: 100%;
  background-color: var(--item-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag_active {
  background-color: var(--item-bg-onDrag);
}

.border {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 25px);
  width: calc(100% - 20px);
  padding-bottom: 2rem;

  .img_placeholder {
    width: 40%;
    height: 50%;
    margin-block: 2rem;
  }

  .img_selected {
    width: 90%;
    max-height: 60%;
    object-fit: contain;
    margin: 1rem 0 1rem;
  }
}

.border_dashed {
  border: 1px dashed var(--item-border);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  input {
    width: 200px;
    height: 100px;
  }
}

.border_no_dash {
  background-color: var(--text-bg);
  padding-bottom: 0;
}

.border_selected {
  justify-content: center;
}

.arrow {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .warn {
    margin-top: 5px;
    text-align: center;
    color: var(--text-secondary);
    font-size: 14px;
  }
}

.placeholder_text,
.return_text {
  padding: 0.5rem;
  text-align: center;
  color: var(--text-secondary);
}

.return_text {
  color: var(--text-primary);
  text-align: left;
  display: flex;
  width: 100%;
  gap: 15px;
  flex-direction: column;
  height: 100%;

  .copy_icon_container {
    height: 15px;
    border-radius: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    background-color: var(--text-bg);
    margin-top: 5px;

    .copied_text {
      color: var(--text-secondary);
    }

    .copy_icon {
      width: 15px;
      height: 15px;
      cursor: pointer;
      filter: var(--svg-filter);
    }
  }

  .text {
    overflow-y: auto;
    height: inherit;
  }
}

.optional_text {
  margin: 0.5rem 0 1rem;
  color: var(--text-secondary);
}

.border_text {
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 1rem 1rem;
}

.history_btn {
  color: var(--text-secondary);
  margin-top: 0.5rem;
  cursor: pointer;
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
    padding-inline: 2rem;
    justify-content: space-around;
    height: calc(100vh - 60px);
    margin-bottom: 0;
  }
  .with_history {
    justify-content: left !important;
  }
  .input,
  .output {
    height: calc(100vh - 60px - 30%);
    width: 40%;
  }

  .arrow {
    margin-inline: 1rem;
    width: fit-content;
    min-height: 150px;
    position: relative;

    .warn {
      position: absolute;
      top: -20px;
      text-align: center;
      color: var(--text-secondary);
    }
  }
  .return_text {
    gap: 25px;

    .copy_icon_container {
      height: 20px;
      margin-top: 15px;

      .copy_icon {
        width: 20px;
        height: 20px;
      }
    }

    .text {
      overflow-y: auto;
      height: inherit;
    }
  }

  .border {
    height: calc(100% - 40px);
    width: calc(100% - 40px);

    .img_placeholder {
      height: 30%;
      margin-bottom: 5.5rem;
    }

    .img_selected {
      border-radius: 30px;
    }
  }

  .border_dashed {
    justify-content: center;
  }

  .border_selected {
    justify-content: center;
  }

  .optional_text {
    display: block;
    margin-top: 1rem;
  }
  .placeholder_text,
  .return_text {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
  .container {
    justify-content: center;
  }
  .input,
  .output {
    height: calc(100vh - 60px - 30%);
    width: 40%;
  }
}

@media (min-width: 1600px) {
  .container {
    padding-inline: 10rem;
  }
  .arrow {
    margin-inline: 3rem;
  }
}
