.button {
  border-radius: 100vmax;
  background-color: var(--accent);
  width: fit-content;
  color: white;
  padding: 0.5em 1.1em;
  font-size: clamp(0.85rem, 1.5vw, 1rem);
  letter-spacing: 0.8px;
  display: block;
  margin-inline: auto;
}
