label {
  border-radius: 100vmax;
  //   background-color: #22536f;
  background-color: var(--accent-side);
  width: fit-content;
  padding: 0.5em 1.5em 0.7em;
  color: var(--input-text);
  font-size: clamp(0.85rem, 1.5vw, 1.1rem);
  cursor: pointer;
}

.upload_photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
